.img1{
    background-image: url('/imgs/pool1.png');
    height: 290px;
}
.img >h2{
    color: #f1b310;
    font-size: 30px;
    margin-left: 100px;
    margin-top:40px;
    background-color:rgba(192,192,192,0.3);
    padding: 50px;
    width: 500px;
    border-radius: 25px;
}
.img2{
    background-image: url('/imgs/pool2.png');
    height: 290px;
}
.img3{
    background-image: url('/imgs/pool3.png');
    height: 290px;
}
.img4{
    background-image: url('/imgs/pool4.png');
    height: 290px;
}
.img5{
    background-image: url('/imgs/pool5.png');
    height: 290px;
}
.customBtn{
    width: 200px;
    height: 2em;
    margin-bottom: -100px;
    margin-top: -100px;
    z-index: 10000;
    border: 1px solid #FFFFFF;
}
.login{
    background-color: #931b1d;
}
.register{
    background-color: #f1b310;
}
h2{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
.h2-warning{
    color: #f1b310;
}
.yellowTxt{
    color: #f1b310;
}
.redText{
    color: #931b1d;
}
.centeredTxt{
    text-align: center;
}
.lastWeek{
    /*background-image: url('/imgs/lastWeek.png');*/
    height: 300px;
    width: inherit;
    position: relative;

}
.topRow{
    margin: 0 auto;
}
.fargoAlt{
    cursor: pointer;
}

/*body{*/
/*    background-color: #5390ed;*/
/*}*/